@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


body {
    font-family: 'Poppins', sans-serif, Arial;
    color: #000
}

.container {
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
}

.title-1 {
    font-weight: 600;
    font-size: 34px;
}

.flex {
    display: flex;
}

:root {
    --black-color: #000 
}

/* HEADER */

.header {
    padding-top: 46px;
    background-color: #f1f1f1;
}

.header-nav {
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 76px;
}

.logo {
    position:relative;
    padding-right: 12px;
    padding-bottom: 3px;
    font-weight: 700;
    font-size: 32px;
    line-height: 1;
    color: var(--black-color)
}

.logo::after {
    position: absolute;
    right: 0;
    bottom: 0;
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: #FDA300;
    border-radius: 50%;
}

/* Nav */


.nav-list {
    column-gap: 50px;
    font-weight: 500;
    font-size: 14px;
   color: var(--black-color);
}

/* кнопка которая скрывается */
.nav-button {
    display: none;
}


.nav-link {
    color: var(--black-color);

}

.nav-link.active {
    color: #606060
}

/* Header content */


.header-content {
    max-width: 500px;
    margin-top: 124px;
}

.header-row {
    justify-content: space-between;
    column-gap: 30px;
}

.header-heading {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 44px;

}

.header-content p{
    line-height: 2;
}


/* Service */

.service {
    padding: 90px 0; 

}

.service-row {
    column-gap: 30px;
    row-gap: 60px;
    flex-wrap: wrap;
}

.service-card {
    min-width: 315px;
    flex: 1 1 0;

}


.service-card-img {
    margin-bottom: 30px;
}

.service-card-title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.service-card p {
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
}

/* Portfolio */

.portfolio {
    padding:  90px 0;
    background-color: #F1F1F1;

}

.portfolio-title {
    text-align: center;
    margin-bottom: 70px;
}


.project {
    text-align: center;
}

.project + .project {
    margin-top: 90px;
}


.project-img {
    margin-bottom: 40px;

}

.project-title {
    font-weight: 400;
    font-size: 18px;
}

.project-title a {
    color: var(--black-color);
    text-decoration: underline;
}



/* Footer */

.contacts {
    padding: 90px 0;
    text-align: center;
}


.contacts-title {
    margin-bottom: 40px;
}


.contacts-content{
    max-width: 480px;
    font-size: 18px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.contacts-content p + p {
    margin-top: 1em;
}

.contacts-button {
    margin-bottom: 80px;
}


.button {
    display: inline-block;
    padding: 7px 22px;
    background-color: #070707;
    border-radius: 30px;
    font-size: 18px;
    color: #F1F1F1;
    transition: background-color 0.2s ease-in, top 0.2s ease-in;
}


.button:hover, .button:focus {
    background-color: #323232;
}

.button:active {
    position: relative;
    top: 1px;
    background-color: #000
}

.contacts-social {
    justify-content: center;
    column-gap: 60px;
    align-items: center;
    margin-bottom: 40px;
}

.contacts-footer {
    color: #828282;


}